<article class="post">
  <div class="title">
    <a href="/post/{{id}}" target="_blank">{{title}}</a>
  </div>
  <p>
    {{description}}
  </p>
  <div class="meta">
    {{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>